h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 15px;
}
.form-destino {
  background: url("../imagens/bg-header.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-form input {
  border: none;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: max-content;
  padding: 30px;
  width: 60%;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: space-between;
  border-radius: 4px;
  padding-bottom: -50px;
}
.form select {
  border: none;
  padding-right: 2px;
  width: 100%;
  text-align: center;
}
.item-form {
    border: none;
}
.div-form-dest {
  display: flex;
  gap: 0 10px;
  width: 100%;
  flex-wrap: wrap;
}
.div-form-dest:first-child{
  margin-bottom: 10px;
}

.form-itens {
  display: flex;
  flex-wrap: wrap;
}
.item-form {
  padding: 10px;
  width: 32%;
  display: flex;
  border: 2px solid #ececec;
  gap: 20px;
}
.item-form:checked {
  border: none;
}

form{
  width: 100%;
}
.btn-destino {
  width: 32%;
  padding: 10px;
  text-align: center ;
  background-color: #ee5057;
  border: none;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .form{
    width:90%;
  }
  
}
@media (max-width: 760px) {
  h1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: -20px;
  }
  .form-destino {
    height: 800px;
  }
  .form {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .div-form-dest {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 0px;
  }
  .item-form,
  button {
    width: 100%;
    padding: 15px;
  }
  h1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  .btn-destino {
    padding: 15px;
    width: 100%;
  }
}

@media(max-width:759px){
  h1 {
   margin-bottom: 20px;
   text-align: left;
  }
  .form {
    margin-top: -250px;
    margin-bottom: -200px;
  }
  .item-form{
    margin-bottom: 10px;
  }

}
@media (max-width: 400px) {
  h1{
    text-align: left;
  } 
  .formulario2-itens {
    width: 100%;
    padding-left: 30px;
  }
  }