footer{
    width: 100%;
    background-color: #EE5057;
    height: 70px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    color: #fff;
    text-decoration: underline;
}