
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
    position: fixed;
    background-color: #fff;
    margin-bottom: 10px;
    } 


nav{
    display: flex;
    font-weight: 500;
    height: 70px;
    align-items: center;    
}

nav a{
    padding: 10px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left : 1px solid #ccc ;
    text-align: center;
    height: 100%;
}
nav a:last-child{
    border-right : 1px solid #ccc ;
}

nav a:hover{
    background-color: #EE5057;
    color: #fff;
}


@media (max-width:1024px){

    header{
        width:100%;
         padding-bottom: 2px;
         padding: 0 80px;

    }
    header img{
        width: 120px;

    }
 
}
@media (max-width:768px){
    header{
        width:100%;
         padding-bottom: 2px;
         padding: 0 0px;

    }
    header img{
        width: 120px;
        margin-left: 40px;

    }
}

@media (max-width:700px) {
    header{
        width: 100%;
    }
    nav {
        display: none;
    }
    header img{
        margin-top: 10px;
        margin-left: 20px;
    }
}
@media (max-width:500px) {
 
   
    header img{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    h1{
        padding-bottom: 40px;
    }
}


@media (min-width : 1366px){
    header{
         padding: 0px 200px  ;
         } 
 
 }
@media (min-width : 1920px){
    header{
         padding: 0px 300px  ;
         } 
 
 }