.locais-recomendados{
    background-color: #ececec;
    padding-top: 70px;
    padding-bottom: 70px;
}
.locais-container{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;

}
.margin-top {
    width: 350px;
    margin-left: -21px;
    margin-top: -30px;

    object-fit: cover;

}
.locais-container-itens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    justify-content: space-between;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;

}
.dif{
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: -10px;

}
.menor img{
    width: 90px;
}
.menor{
    display:flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    background-color: #ececec;
    width: 270px;
}
.efeito {
    margin-left: -2px;
    padding-left: -2px;
    padding: 10px;
    background-color: #EE5057;
    color: #fff;
}
@media (max-width:1024px){
    .locais-container{
        gap: 40px 70px;
    }
   
    .efeito{
        width: 100%;
        padding: 20px;
        text-align: left;
    }
    .dif{
        margin-left: -0px;
        width: 110%;
        align-items: flex-start;
        padding-bottom: 20px;
    }
    .menor{
        margin:0 20px;
        width: 95%;
    }
}
@media(max-width:768px){
    .dif{
        display: none;
    }
    .locais-container{
        flex-wrap: nowrap;
        gap: 70px;
        justify-content: space-around;
        width: 90%;
    }
    .locais-container-itens{
        width: 330px;
    }
    .locais-container-itens img{
        width: 330px
    };
}
@media(max-width:760px){
 
    .locais-container{
        flex-wrap: wrap;
      
    }
   
}
@media(max-width:500px){
 .locais-container-itens:first-child{
    display: none;
 }
   
}
